<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fall Out Boy</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header></header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/discography">Discography</a></li>
        <li><a href="/tours">Tours</a></li>
      </ul>
    </nav>
    <section>
      <h2>From Under the Cork Tree</h2>
      <img src="/images/cork.jpg">
      <ul>
        <li>Dance, Dance</li>
        <li>Sugar, We're Going Down</li>
        <li>A Little Less Sixteen Candles, a Little More Touch Me</li>
      </ul>

      <h2>Save Rock and Roll</h2>
      <img src="/images/rr.jpg">
      <ul>
        <li>The Phoenix</li>
        <li>My Songs Know What You Did in the Dark</li>
        <li>Death Valley</li>
      </ul>
    </section>
    <footer>
      <small>(c) 2014 Fall Out Boy Fan Club Inc.</small>
    </footer>
  </body>
</html>

