<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fall Out Boy</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header></header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/discography">Discography</a></li>
        <li><a href="/tours">Tours</a></li>
      </ul>
    </nav>
    <section>
      <ul>
        <li>
          <div class="date">
            July 29, 2014
          </div>
          <div class="location">
            Virginia Beach, VA @ Farm Bureau Live at Virginia Beach - Fall Out Boy - MONUMENTOUR w/ Paramore & New Politics
          </div>
        </li>
        <li>
          <div class="date">
             July 30, 2014
          </div>
          <div class="location">
            Atlanta, GA @ Aaron's Amphitheatre @ Lakewood - Fall Out Boy - MONUMENTOUR w/ Paramore & New Politics
          </div>
        </li>
        <li>
          <div class="date">
            August 1, 2014
          </div>
          <div class="location">
            Houston, TX @ Cynthia Woods Mitchell Pavilion - Fall Out Boy - MONUMENTOUR w/ Paramore & New Politics
          </div>
        </li>
        <li>
          <div class="date">
            August 2, 2014
          </div>
          <div class="location">
            Austin, TX @ Austin360 Amphitheater - Fall Out Boy - MONUMENTOUR w/ Paramore & New Politics
          </div>
        </li>
        <li>
          <div class="date">
            August 4, 2014
          </div>
          <div class="location">
            Corpus Christi, TX @ Concrete Street Amphitheater - Fall Out Boy - MONUMENTOUR w/ Paramore & New Politics
          </div>
        </li>
      </ul>
    </section>
    <footer>
      <small>(c) 2014 Fall Out Boy Fan Club Inc.</small>
    </footer>
  </body>
</html>

